@{
    ViewData["Title"] = "Games";
}

<style>
    .game-container {
        margin-top: 75px; /* Adjust the value as needed */
    }
</style>

<div class="game-container text-center">
    <iframe src="/Game/index.html" width="960" height="750" frameborder="0"></iframe>
</div>
